html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f4f7 !important;
}

header {
    margin-bottom: 30px;
}

.div-header {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding: 2px 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 40, 86, 1);
    color: white;
    text-transform: uppercase;
}

.div-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.div-conteudo {
    margin-top: 30px;
    max-width: 800px;
    width: 90%;
}

.search-bar {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.modal-header {
    background-color: var(--bs-green);
}

.btn-close {
    background-color: #ffffff;
}

.modal-body {
    padding: 2rem 1rem;
}

.modal-body p {
    font-size: 1.1rem;
}

.modal-header h1 {
    color: #ffffff;
}

.modal-table {
    margin-top: 20px;
}

.header-tab {
    background-color: var(--bs-gray);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    margin: -20px -40px 20px -40px;
    font-weight: 600;
    border-radius: 8px 8px 0 0;
}

.clickable {
    cursor: pointer;
}

.div-modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-button {
    margin-bottom: 10px;
}

#goodWarning,
#goodWarningPass {
    color: #198754;
}

#badWarning,
#badWarningPass {
    color: rgb(185, 13, 13);
}

.required {
    color: red;
}

h1, h2, h3, p, span {
    margin-bottom: 0;
}

.child-row td:first-child {
    border: none;
}

.child-row {
    background-color: #f9f9f9;
    font-style: italic;
}

.child-row td {
    background-color: #f9f9f900 !important;
    font-style: italic;
}

.switchVisualizacaoFormulario {
    margin-top: 10px;
}

.card-filtros {
    width: 50%;
    margin-left: auto;
}

#labelCriadoEmTermino {
    visibility: hidden;
}


.primeira-linha th {
    background-color: #6c757d54 !important;
}

.alerta-cpf {
    float: right;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 4px;
    padding: 2px 6px;
    margin-left: 10px;
}